{% extends "base.html" %}

{% load debug_filter %}

{% block content_base %}
  <div class="container vh-100 overflow-hidden d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-lg-8 col-xl-6">
        <div class="card mb-5">
          <div class="card-header text-center">
            <h3>
              Login
            </h3>
          </div>
          <div class="card-body">
            <form action="{% url "auth:login" %}"
                  method="post"
                  class="needs-validation {{ was_validated }}"
                  novalidate>
              {% comment %}`novalidate`: server side validatoin only (for now){% endcomment %}
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ form.email.id_for_label }}">
                  Email address
                </label>
                <input type="email"
                       id="{{ form.email.auto_id }}"
                       class="form-control"
                       name="{{ form.email.name }}"
                       value="{{ form.email.value | default_if_none:"" }}"
                       placeholder="Enter email" />
                {% for error in form.email.errors %}
                  <div class="email-feedback invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              </div>
              <div class="mb-3">
                <label for="{{ form.password.id_for_label }}">
                  Password
                </label>
                <input type="password"
                       id="{{ form.password.auto_id }}"
                       class="form-control"
                       name="{{ form.password.name }}"
                       value="{{ form.password.value | default_if_none:"" }}"
                       placeholder="Password" />
                {% for error in form.password.errors %}
                  <div class="password-feedback invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox"
                       class="form-check-input"
                       name="{{ form.remember_me.name }}"
                       id="{{ form.remember_me.auto_id }}" />
                <label class="form-check-label" for="{{ form.remember_me.id_for_label }}">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </form>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">
              Forgot your password? <a href="#">Reset it here</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // If the form was validated, show the feedback for the errors.
    document.addEventListener('DOMContentLoaded', function() {
      const names = ["{{ form.email.name }}", "{{ form.password.name }}"];
      names.forEach((name) => {
        const el = document.querySelector(`.${name}-feedback`);
        if (el && "{{ was_validated }}" === "was_validated") {
          el.classList.add('d-block');
        }
      })
    });
  </script>
{% endblock content_base %}
