:root {
  --alice-blue: 227, 235, 242;
  --columbia-blue: 182, 220, 241;
  --space-cadet: 47, 50, 71;
  --rojo: 221, 26, 24;
  --violet-blue: 71, 86, 172;

  --rgba-alice-blue: rgba(227, 235, 242, 1);
  --rgba-columbia-blue: rgba(182, 220, 241, 1);
  --rgba-space-cadet: rgba(47, 50, 71, 1);
  --rgba-rojo: rgba(221, 26, 24, 1);
  --rgba-violet-blue: rgba(71, 86, 172, 1);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: rgba(var(--alice-blue), 1);
  min-height: 100svh;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.bold,
.fw-700 {
  font-weight: 700;
}
