.scoring-container {
  --scoring-nav-sm-height: 60px;

  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */

  display: flex;
}

.scoring-nav__container {
  height: calc(100% - 2vw);

  margin: 1vw 0;
  margin-right: 1vw;

  background-color: rgba(var(--primary-color), 1);
  color: rgba(var(--secondary-color), 1);

  display: flex;
  flex-direction: column;

  z-index: 1;

  --scoring-nav-width: 256px;
}

.scoring-nav__container.closed {
  --scoring-nav-width: 40px;
}

.scoring-nav__item {
  position: relative;
  width: var(--scoring-nav-width);
  height: 60px;
  background-color: rgba(var(--columbia-blue), 1);

  margin: 0.2rem 0;
}

.scoring-nav__item.header {
  height: 80px;
  margin-top: 0;
  font-weight: 400;
  font-size: 2rem;
}

.scoring-nav__item.header .scoring-nav__item-icon {
  display: none;
}

.scoring-nav__brand {
  padding: 0.5rem;
}

/* .scoring-nav__item.dark::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
} */

.scoring-nav__item.filler {
  flex-grow: 1;
}

.scoring-nav__item:last-child {
  margin-bottom: 0;
}

.scoring-nav__item a {
  text-decoration: none;
  color: inherit;

  display: block;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.scoring-nav__item a .scoring-nav__item-icon {
  width: 40px;
  text-align: center;
}

.scoring-nav__container.closed .scoring-nav__item a span {
  display: none;
}

.scoring-nav__toggle-btn {
  position: absolute;
  right: 0;
  top: 0;

  width: 2rem;
  height: 100%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scoring-nav__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .scoring-container {
    min-height: calc(100% - var(--scoring-nav-sm-height) - 1vw);

    padding-bottom: calc(var(--scoring-nav-sm-height) + 1vw);
  }

  .scoring-nav__container {
    --scoring-nav-width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    left:0;
    right: 0;
    height: 3rem;

    margin: 0;
    margin-top: 1vw;

    flex-direction: row;

    height: var(--scoring-nav-sm-height);
    padding: 2px 0;
  }

  .scoring-nav__item,
  .scoring-nav__item.header {
    height: 100%;
    width: var(--scoring-nav-sm-height);
    margin: 0;
    font-size: 1.5rem;
  }

  .scoring-nav__item.header .scoring-nav__item-icon {
    display: block;
  }

  .scoring-nav__item.header span {
    display: none;
  }

  .scoring-nav__item a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scoring-nav__toggle-btn {
    display: none;
  }

  .scoring-nav__content {
    flex-direction: row;
  }

  .scoring-nav__content .scoring-nav__item span {
    display: none;
  }
}

.scoring-content {
  margin: 1vw 0;
  flex-grow: 1;
}
