.scoring-container {
  --scoring-nav-sm-height: 60px;
  width: 100%;
  display: flex;
}

.scoring-nav__container {
  height: calc(100svh - 2vw);

  margin: 1vw;

  background-color: rgba(var(--primary-color), 1);
  color: rgba(var(--secondary-color), 1);

  display: flex;
  flex-direction: column;

  z-index: 1;

  --scoring-nav-width: 256px;
}

.scoring-nav__container.closed {
  --scoring-nav-width: 40px;
}

.scoring-nav__item {
  position: relative;
  width: var(--scoring-nav-width);
  height: 60px;
}

.scoring-nav__item.only-sm {
  display: none;
}

.scoring-nav__item.header {
  height: 80px;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--primary-color), 1);
}

.scoring-nav__item.header .scoring-nav__item-icon {
  display: none;
}

.scoring-nav__brand {
  padding: 0.5rem;
}

.scoring-nav__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  background-color: rgba(var(--primary-color), 1);
  border-radius: 0.5rem;
}

.scoring-nav__item.filler {
  flex-grow: 1;
}

.scoring-nav__item:last-child {
  margin-bottom: 0;
}

.scoring-nav__item .scoring-nav__link {
  text-decoration: none;
  color: inherit;

  display: block;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;

  cursor: pointer;
}

.scoring-nav__item .scoring-nav__link .scoring-nav__item-icon {
  width: 40px;
  text-align: center;
}

.scoring-nav__item + hr {
  height: 0;
  margin: 0;
  /* opacity: 1; */
  border: none;
  border-top: solid 1px rgba(var(--secondary-color));
  margin: 0 0.5rem;
}

.scoring-nav__container.closed .scoring-nav__item .scoring-nav__link span {
  display: none;
}

.scoring-nav__toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3rem;

  width: 2rem;
  height: 100%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scoring-nav__container.closed .scoring-nav__toggle-btn {
  inset: 0;
  width: auto;
}

@media screen and (max-width: 768px) {
  .scoring-container {
    min-height: calc(100% - var(--scoring-nav-sm-height) - 1vw);

    padding-bottom: calc(var(--scoring-nav-sm-height) + 1vw);
  }

  .scoring-nav__container {
    --scoring-nav-width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    left:0;
    right: 0;
    height: 3rem;

    padding: 0;
    margin: 0;
    margin-top: 1vw;

    flex-direction: row;

    height: var(--scoring-nav-sm-height);
  }

  .scoring-nav__content {
    justify-content: space-around;
  }

  .scoring-nav__item.header {
    display: none;
  }

  .scoring-nav__item.only-sm {
    display: block;
    font-size: 1.6rem;
  }

  .scoring-nav__item {
    height: 100%;
    width: var(--scoring-nav-sm-height);
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0;
  }

  .scoring-nav__item.filler {
    display: none;
  }

  .scoring-nav__item.header .scoring-nav__item-icon {
    display: block;
  }

  .scoring-nav__item.header span {
    display: none;
  }

  .scoring-nav__item .scoring-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    display: none;
  }

  .scoring-nav__toggle-btn {
    display: none;
  }

  .scoring-nav__content {
    flex-direction: row;
    border-radius: 0;
  }

  .scoring-nav__content .scoring-nav__item span {
    display: none;
  }
}

.scoring-content {
  margin: 1vw 0;
  flex-grow: 1;
}
