{% extends "base.html" %}

{% load static %}

{% block extrahead_base %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/nav.css' %}" />
  {% block extrahead_scoring %}
  {% endblock extrahead_scoring %}
{% endblock extrahead_base %}
{% block content_base %}
  <div class="scoring-container">
    <div class="scoring-nav__container">
      <div class="scoring-nav__item header">
        <a href="">
          <i class="bi bi-house scoring-nav__item-icon"></i>
          <span class="scoring-nav__brand">BGS</span></a>
        <span class="scoring-nav__toggle-btn">&lt;</span>
      </div>
      <div class="scoring-nav__content">
        <div class="scoring-nav__item only-sm">
          <a href=""><i class="bi bi-house scoring-nav__item-icon"></i><span>Home</span></a>
        </div>
        <div class="scoring-nav__item">
          <a href=""><i class="bi bi-dice-3 scoring-nav__item-icon"></i><span>All games</span></a>
        </div>
        <hr />
        <div class="scoring-nav__item">
          <a href=""><i class="bi bi-clock-history scoring-nav__item-icon"></i><span>Previous scores</span></a>
        </div>
        <hr />
        <div class="scoring-nav__item filler">
        </div>
        <hr />
        <div class="scoring-nav__item">
          <a href="{% url "accounts:logout" %}"><i class="bi bi-box-arrow-left scoring-nav__item-icon"></i><span>Sign out</span></a>
        </div>
      </div>
    </div>
    <div class="scoring-content d-flex flex-column">
      {% block content_scoring %}
      {% endblock content_scoring %}
    </div>
  </div>
  <script>
    "use strict";
    // Read from localStorage to get the status of the navbar (closed or open) when the document loads
    window.addEventListener('DOMContentLoaded', function() {
      const navbarStatus = localStorage.getItem('scoring-nav-status');
      const scoringNavContainer = document.querySelector('.scoring-nav__container');
      const toggleBtn = document.querySelector('.scoring-nav__toggle-btn');

      if (navbarStatus === 'closed') {
        scoringNavContainer.classList.add('closed');
        toggleBtn.textContent = '>';
      } else {
        scoringNavContainer.classList.remove('closed');
        toggleBtn.textContent = '<';
      }
    });

    // Write the last value of the navbar status to localStorage before refreshing the page or visiting another page
    window.addEventListener('beforeunload', function() {
      const scoringNavContainer = document.querySelector('.scoring-nav__container');
      const navbarStatus = scoringNavContainer.classList.contains('closed') ? 'closed' : 'open';
      localStorage.setItem('scoring-nav-status', navbarStatus);
    });
    // Listen to clicks on close navbar button
    document.querySelector('.scoring-nav__toggle-btn').addEventListener('click', function() {
      document.querySelector('.scoring-nav__container').classList.toggle('closed');
    });
    // Listen to classes in .scoring-nav__toggle-btn and change the text from < to > if "closed" is present
    const scoringNavContainer = document.querySelector('.scoring-nav__container');
    const toggleBtn = document.querySelector('.scoring-nav__toggle-btn');
    toggleBtn.addEventListener('click', function() {
      if (scoringNavContainer.classList.contains('closed')) {
        toggleBtn.textContent = '>';
      } else {
        toggleBtn.textContent = '<';
      }
    });
  </script>
{% endblock content_base %}
