{% extends "base.html" %}

{% block content_base %}
  <div class="container-fluid p-0 overflow-hidden d-flex flex-md-row">
    <div class="scoring-nav__container">
      <div class="scoring-nav__item header dark">
          <a href="">BGS</a>
        <span class="scoring-nav__toggle-btn">X</span>
      </div>
      <div class="scoring-nav__content">
        <div class="scoring-nav__item">
          <a href="">Item 1</a>
        </div>
        <div class="scoring-nav__item">
          <a href="">Item 2</a>
        </div>
        <div class="scoring-nav__item filler"></div>
        <div class="scoring-nav__item">
          <a href="">Sign out</a>
        </div>
      </div>
    </div>
    <div class="scoring-content">
    </div>
  </div>
{% endblock content_base %}
