{% extends "scoring/base.html" %}

{% load static %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/index.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/games_list.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container h-100">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header display-6 text-center">
            All games
          </div>
          <div class="card-body p-1">
            <ul class="list-group">
              {% for game in games %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                      <div class="rounded-circle d-flex justify-content-center align-items-center">
                        <img class="rounded-circle m-0"
                             src="{{ game.image }}"
                             alt="Game image for {{ game.name }}" />
                      </div>
                    </div>
                    <div class="col-7 d-flex flex-column justify-content-center">
                      <span class="game-name">{{ game.name }}</span>
                      <span class="game-description">{{ game.description }}</span>
                    </div>
                    <div class="col d-flex flex-column justify-content-center">
                      <div class="actions w-100 d-flex flex-column justify-content-around flex-md-row justify-content-md-end">
                        <a href="" class="btn"><i class="bi bi-eye"></i></a>
                        <a href="" class="btn"><i class="bi bi-plus"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_scoring %}
