{% extends "scoring/base.html" %}

{% load static %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/index.css' %}" />
{% endblock extrahead_scoring %}
{% block content_scoring %}
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header display-6 text-center">
            Favorite Games
          </div>
          <div class="card-header table-header">
            <div class="row">
              <div class="col-4">
                <span>Game</span>
              </div>
              <div class="col-4">
                <span>Category</span>
              </div>
              <div class="col-4">
                <span>ELO</span>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    Game 1
                  </div>
                  <div class="col-4">
                    Strategy
                  </div>
                  <div class="col-4">
                    150
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    Game 2
                  </div>
                  <div class="col-4">
                    Family
                  </div>
                  <div class="col-4">
                    100
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header display-6 text-center">
            Previous Scores
          </div>
          <div class="card-header table-header">
            <div class="row">
              <div class="col-4">
                <span>Game</span>
              </div>
              <div class="col-4">
                <span>Date</span>
              </div>
              <div class="col-4">
                <span>Winner</span>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <ul class="list-group">
              {% for score in previous_scores %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-4">
                      {{ score.game }}
                    </div>
                    <div class="col-4">
                      {{ score.date }}
                    </div>
                    <div class="col-4">
                      {{ score.winner }}
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_scoring %}
