{% extends "scoring/base.html" %}

{% load static %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/index.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header display-6 text-center">
            Favorite Games
          </div>
          <div class="card-header table-header">
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-8">
                <span>Game</span>
              </div>
              <div class="col-3 text-nowrap">
                <span>Won / Played</span>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <ul class="list-group">
              {% for fav_game in fav_games %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                      <div class="rounded-circle d-flex justify-content-center align-items-center">
                        <img class="rounded-circle m-0"
                             src="{{ fav_game.image }}"
                             alt="Game image for {{ fav_game.name }}" />
                      </div>
                    </div>
                    <div class="col-9 d-flex flex-column">
                      <span class="game-name">{{ fav_game.name }}</span>
                      <span class="game-description">{{ fav_game.description }}</span>
                    </div>
                    <div class="col-2 text-nowrap">
                      <span>{{ fav_game.record.won }} / {{ fav_game.record.played }}</span>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header display-6 text-center">
            Previous Scores
          </div>
          <div class="card-header table-header">
            <div class="row">
              <div class="col-4">
                <span>Game</span>
              </div>
              <div class="col-4">
                <span>Date</span>
              </div>
              <div class="col-4">
                <span>Winner</span>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <ul class="list-group">
              {% for score in previous_scores %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-4">
                      {{ score.game }}
                    </div>
                    <div class="col-4">
                      {{ score.date }}
                    </div>
                    <div class="col-4">
                      {{ score.winner }}
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_scoring %}
