{% extends "scoring/base.html" %}

{% load static %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/index.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/score_create.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-start">
          <h1 class="display-6">
            Edit score for {{ player.name }}
          </h1>
          {% if player.user != table.owner %}
            <button type="submit"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteScoresModal">
              <i class="bi bi-trash"></i>
            </button>
          {% endif %}
        </div>
        <span class="lead">
          At table: {{ table }}
        </span>
      </div>
      <div class="card-body">
        <form action="{% url "scoring:score_edit" table.pk player.name %}"
              method="post"
              class="needs-validation {{ was_validated }}"
              novalidate>
          {% csrf_token %}
          {% if player.is_ot_player %}
            <span class="lead ms-1">Edit the player name:</span>
            <div class="input-group mb-3">
              <span class="input-group-text" id="name-addon">Player name:</span>
              <input type="text"
                     id="{{ form.name.auto_id }}"
                     name="{{ form.name.name }}"
                     class="form-control"
                     aria-label="Name"
                     aria-describedby="name-addon"
                     value="{{ form.name.value | default_if_none:'' }}" />
            </div>
          {% endif %}
          <span class="lead ms-1">Edit the player scores:</span>
          <div class="container-fluid p-0">
            <div class="row">
              {% for field in form.visible_fields %}
                {% if field.name != 'name' %}
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="{{ field.name }}-addon">{{ field.name }}:</span>
                      <input type="number"
                             id="{{ field.auto_id }}"
                             name="{{ field.name }}"
                             class="form-control"
                             aria-label="{{ sc }}"
                             aria-describedby="{{ sc }}-addon"
                             value="{{ field.value|default_if_none:'' }}" />
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade"
       id="deleteScoresModal"
       tabindex="-1"
       aria-labelledby="deleteScoresModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteScoresModalLabel">
            Delete scores
          </h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the scores for player "{{ player.name }}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Go back
          </button>
          <a href="{% url "accounts:logout" %}">
            <form action="{% url "scoring:score_delete" table.pk player.name %}"
                  method="post"
                  class="d-inline-block">
              {% csrf_token %}
              {% if player.user != table.owner %}
                <button type="submit" class="btn btn-danger">
                  Delete
                </button>
              {% endif %}
            </form>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content_scoring %}
