{% extends "scoring/base.html" %}

{% load static %}
{% load get_item %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/game_detail.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <img class="m-0"
                 src="{{ table.game.image }}"
                 alt="Game image for {{ table.game.name }}" />
          </div>
          <div class="col-10">
            <h1>
              {{ table.game.name }}
            </h1>
            <p>
              {{ table.start_date }}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Owner: {{ table.owner }}
          </li>
          <li>
            Players: {{ players }}
          </li>
          <li>
            Winner: {{ table.winner }}
          </li>
          <li>
            Status: {{ table.status }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <h2>
          Scores
        </h2>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            {% for username, score in scores.items %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <div class="card-header">
                    {% if winner.name == username %}
                      <i class="bi bi-trophy"></i>
                    {% endif %}
                    {{ username }} (total: {{ scores_totals|get_item:username }})
                  </div>
                  <div class="card-body">
                    <ul>
                      {% for category, value in score.items %}
                        <li>
                          {{ category }}: {{ value }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_scoring %}
