{% extends "scoring/base.html" %}

{% load static %}
{% load get_item %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/table_detail.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <img class="m-0"
                 src="{{ table.game.image }}"
                 alt="Game image for {{ table.game.name }}" />
          </div>
          <div class="col-10">
            <h1>
              {{ table.game.name }}
            </h1>
            <p>
              {{ table.start_date }}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Owner: {{ table.owner }}
          </li>
          <li>
            Players: {{ players }}
          </li>
          <li>
            Winner: {{ table.winner }}
          </li>
          <li>
            Status: {{ table.status }}
          </li>
        </ul>
        {% if table.status == "open" %}
          Invite players:
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="copyInput"
                   value="TBD: url to join table"
                   readonly
                   onmousedown="return false;" />
            <button class="btn btn-primary" type="button" id="copyBtn">
              Copy
            </button>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <h2>
          Scores
        </h2>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            {% for player, score in scores.items %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>
                      {% if player == winner %}
                        <i class="bi bi-trophy"></i>
                      {% endif %}
                      {{ player.name }} (total: {{ scores_totals|get_item:player }})
                    </span>
                    {% if table.status == "open" %}
                      <div class="buttons">
                        <div class="btn btn-primary btn-sm">
                          <i class="bi bi-pencil"></i>
                        </div>
                        <form action="{% url "scoring:score_delete" table.pk player.name %}"
                              method="post"
                              class="d-inline-block">
                          {% csrf_token %}
                          {% if player.user != table.owner %}
                            <button type="submit" class="btn btn-danger btn-sm">
                              <i class="bi bi-trash"></i>
                            </button>
                          {% endif %}
                        </form>
                      </div>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <ul>
                      {% for category, value in score.items %}
                        <li>
                          {{ category }}: {{ value }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% if table.status == "open" %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>
                      Add player
                    </span>
                    <a href="{% url "scoring:score_create_ot_player" table.pk %}"
                       class="btn btn-primary btn-sm">
                      <i class="bi bi-person-plus"></i>
                    </a>
                  </div>
                  <div class="card-body add-player-msg">
                    As owner of the table, you can add the score for another player yourself.
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          URL coppied to clipboard
        </div>
        <button type="button"
                class="btn-close me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close">
        </button>
      </div>
    </div>
  </div>

  <script>
    const copyInput = document.getElementById('copyInput');
    const copyBtn = document.getElementById('copyBtn');
    const toastLiveExample = document.getElementById('liveToast');
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);

    copyBtn.addEventListener('click', () => {
      // Select the input text
      copyInput.select();
      try {
        // Copy the text to the clipboard
        document.execCommand('copy');
        // Show a toast message
        toastBootstrap.show()
      } catch (err) {
        // Show an error message (optional)
        alert('Failed to copy text to clipboard');
      }
      // Deselect the input text
      copyInput.blur();
    });


    if (copyBtn) {
      copyBtn.addEventListener('click', () => {})
    }
  </script>
{% endblock content_scoring %}
