{% extends "scoring/base.html" %}

{% load static %}

{% block extrahead_scoring %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/index.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'scoring/css/table_create.css' %}" />
{% endblock extrahead_scoring %}

{% block content_scoring %}
  <div class="container">
    <div class="card">
      <div class="card-header display-6 text-center">
        Create new table for {{ game.name }}
      </div>
      <div class="card-body p-3">
        <div class="container">
          <div class="row">
            <div class="col-auto">
              <img src="{{ game.image }}" alt="" />
            </div>
            <div class="col">
              <p>
                Copy the link and share it with friends, they can join and enter their scores and then the
                winner will be calculated automatically.
              </p>
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="copyInput"
                       value="{{ new_table_url }}"
                       readonly />
                <button class="btn btn-primary" type="button" id="copyBtn">
                  Copy
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast"
         class="toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          URL coppied to clipboard
        </div>
        <button type="button"
                class="btn-close me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close">
        </button>
      </div>
    </div>
  </div>

  <script>
    const copyInput = document.getElementById('copyInput');
    const copyBtn = document.getElementById('copyBtn');
    const toastLiveExample = document.getElementById('liveToast')
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)

    copyBtn.addEventListener('click', () => {
      // Select the input text
      copyInput.select();
      try {
        // Copy the text to the clipboard
        document.execCommand('copy');
        // Show a toast message
        toastBootstrap.show()
      } catch (err) {
        // Show an error message (optional)
        alert('Failed to copy text to clipboard');
      }
      // Deselect the input text
      copyInput.blur();
    });


    if (copyBtn) {
      copyBtn.addEventListener('click', () => {})
    }
  </script>
{% endblock content_scoring %}
